<mat-card style="text-align: center;">
  <mat-card-title>New list</mat-card-title>
  <mat-card-content>
    <form #groceryListForm="ngForm">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <!-- <mat-form-field>
          <input matInput placeholder="Grocery List Id" #idInfo="ngModel" [(ngModel)]="groceryList.id" name="id">
        </mat-form-field> -->

        <mat-form-field appearance="fill">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker3" [value]="groceryList.date">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Status" #statusInfo="ngModel" [(ngModel)]="groceryList.status" name="status">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Consumer name" #consumerNameInfo="ngModel" [(ngModel)]="groceryList.consumerName"
            name="consumerName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Shop name" #shopNameInfo="ngModel" [(ngModel)]="groceryList.shopName"
            name="shopName">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <button type="button" mat-raised-button  (click)="addItem()"><mat-icon>add box</mat-icon>Add item</button>
  <br>
  <br>
  <mat-card>
    <table mat-table>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell> item.id </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell> item.name </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell> item.category </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell> item.quantity </td>
      </ng-container>
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Unit </th>
        <td mat-cell> item.unit </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell> item.price </td>
      </ng-container>
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell> item.cost </td>
      </ng-container>
    </table>
  </mat-card>
</mat-card>

