<mat-toolbar color="primary">
  <a *ngIf="router.url === '/registration'|| router.url === '/login' ;else elseTemplate" [routerLink]="['/']"><span
      style="font-family: 'Sacramento'; font-size: 3em;"> Smart Shopping </span></a>

  <ng-template #elseTemplate>
    <span style="font-family: 'Sacramento'; font-size: 2em;"> Smart Shopping </span>
    
  </ng-template>

  <div class="spacer"></div>
  <button class="extended-fab-button" style="width: 104.07px;" mat-fab [routerLink]="['/login']"
    *ngIf="router.url === '/' || router.url === '/registration'">Log In</button>
  <button class="extended-fab-button" mat-fab [routerLink]="['/registration']"
    *ngIf="router.url === '/' || router.url === '/login'">Register</button>
  <button class="extended-fab-button" mat-fab routerLink="/"
    *ngIf="router.url === '/consumer' || router.url === '/create-list'"> Log Out </button>
</mat-toolbar>
