<mat-toolbar color="primary">
  <a [routerLink]="['/']"><span style="font-family: Lobster; font-size:4vw;"> Smart Shopping </span></a>
  <div class="spacer"></div>
  <button class="extended-fab-button" style="width: 104.07px" mat-fab [routerLink]="['/login']"
    *ngIf="router.url === '/'">Log in</button>
  <button class="extended-fab-button" mat-fab [routerLink]="['/registration']"
    *ngIf="router.url === '/'">Register</button>
  <button class="extended-fab-button" mat-fab routerLink="/"
    *ngIf="router.url === '/consumer' || router.url === '/create-list'"> Log out </button>
</mat-toolbar>
