<h1 mat-dialog-title>{{type}} consumer</h1>

<div mat-dialog-content [formGroup]="consumerRegistration">

  <mat-form-field>
    <input matInput placeholder="Consumer name" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password">
    <mat-hint style="font-size:1em;">The password should be of 6 or more characters that contains at least one number, one lowercase
      letter, and one uppercase letter</mat-hint>
  </mat-form-field>
  <br>
  <br>
  <br>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()"> Close </button>
    <button mat-button [disabled]="consumerRegistration.invalid" [matDialogClose]="consumerRegistration.value">{{type}}</button>
  </div>
</div>
