.image {
  height: 100%;
  background-size: cover;
  width: auto;
  background-image:

    linear-gradient(rgba(black, 0.4), rgba(black, 0.4)),
    url("/../assets/Background.jpg");
  background-position: 50% 50%;

}

div.image {
  position: relative;
  text-align: center;
}

div.content {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  letter-spacing: 1px;
  line-height: 200%;
}

.aligned-with-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

div.list {
  width: 50%;
  margin: 10px;
  padding: 5px;
  color: white;
}
