<div class="image">

  <div class="content">
    <h1 style="font-size:3em; font-weight: 500; ">Effective shopping starts here!</h1>
    <div class="list">
      <ul style="list-style-type:none; text-align:left; margin-left: 20%; font-size:2em;">
        <li>
          <mat-icon style="font-size: 2rem">checklist</mat-icon> &nbsp;
          <span class="aligned-with-icon">&nbsp;Organized grocery list template </span>
        </li>
        <br>
        <li>
          <mat-icon style="font-size: 2rem">donut_small</mat-icon> &nbsp;
          <span class="aligned-with-icon">&nbsp;Monthly expenses charts</span>
        </li>
        <br>
        <li>
          <mat-icon style="font-size: 2rem">reorder</mat-icon> &nbsp;
          <span class="aligned-with-icon">&nbsp;All history items list</span>
        </li>
        <br>
        <li>
          <mat-icon style="font-size: 2rem">recommend</mat-icon> &nbsp;
          <span class="aligned-with-icon">&nbsp;Easy-to-navigate interface</span>
        </li>
      </ul>
    </div>
    <br>
    <!-- <h1 style="font-size:2em; ">Make an effective shopping list and spend
      wiser!</h1>
    <span class="material-icons" style="font-size: 2rem">
      shopping_basket
    </span> -->
  </div>
</div>
