.image {
  height: 100%;
  background-size: cover;
  width: auto;
  background-image:

    linear-gradient(rgba(black, 0.4), rgba(black, 0.4)),
    url("/../assets/Background.jpg");
  background-position: 50% 50%;
  color: white;
  letter-spacing: 1px;
  line-height: 200%;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40%;
}

.aligned-with-icon {
  position: absolute;
  margin-top: 7px;
  margin-left: 7px;
}
