<div class="image" fxLayout="column" fxLayoutAlign="center center">
  <div style="margin:0">
    <h3 style="font-size: 40px">What we have to offer:</h3>
  </div>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon >checklist</mat-icon>
        <div>&nbsp;Organized grocery list template</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>donut_small</mat-icon>
        <div>&nbsp;Monthly expenses charts</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>reorder</mat-icon>
        <div>&nbsp;All history items list</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>recommend</mat-icon>
        <div>&nbsp;Easy-to-navigate interface</div>
      </mat-list-item>
    </mat-list>
  </div>

