<div class="image">
  <div class="content">
    <!-- <h1 style="font-size:3em; font-weight: 500;">Here you will find:</h1> -->
      <ul style="list-style-type:none; text-align:left; font-weight: 500; font-size: 2vw;">
        <li>
          <mat-icon style="font-size: 3rem;">checklist</mat-icon> &nbsp;
          <span class="aligned-with-icon">&nbsp;Organized grocery list template</span>
        </li>
        <br>
        <li>
          <mat-icon style="font-size: 3rem">donut_small</mat-icon> &nbsp;
          <span class="aligned-with-icon">&nbsp;Monthly expenses charts</span>
        </li>
        <br>
        <li>
          <mat-icon style="font-size: 3rem">reorder</mat-icon> &nbsp;
          <span class="aligned-with-icon">&nbsp;All history items list</span>
        </li>
        <br>
        <li>
          <mat-icon style="font-size: 3rem">recommend</mat-icon> &nbsp;
          <span class="aligned-with-icon">&nbsp;Easy-to-navigate interface</span>
        </li>
      </ul>
    <br>
    <!-- <h1 style="font-size:2em; ">Make an effective shopping list and spend
      wiser!</h1>
    <span class="material-icons" style="font-size: 2rem">
      shopping_basket
    </span> -->
  </div>
</div>
