<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <mat-nav-list class="dashboard">
      <a mat-list-item [routerLink]="['/admin']" routerLinkActive="router-link-active">
        <span class="material-icons">production_quantity_limits</span> Grocery Lists </a>
      <a mat-list-item [routerLink]="['/consumers']"><span class="material-icons">face</span> Consumers </a>
      <a mat-list-item [routerLink]="['/statistics']"><span class="material-icons">donut_small</span> Statistics </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['']" (click)=logout()><mat-icon>logout</mat-icon> Log out </a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="example-sidenav-content">

    <table mat-table [dataSource]="itemsArray" matSort>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let item"> {{item.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let item"> {{item.name}} </td>
      </ng-container>
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef> Brand </th>
        <td mat-cell *matCellDef="let item"> {{item.brand}} </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let item"> {{item.category}} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Unit </th>
        <td mat-cell *matCellDef="let item"> {{item.unit}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let item"> {{item.price}} </td>
      </ng-container>
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
        <td mat-cell *matCellDef="let item"> {{item.cost}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let item">{{item.date}} </td>
      </ng-container>
    </table>
  </div>
</mat-sidenav-container>
