<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" #nameInfo="ngModel" [(ngModel)]="loginDetails.name" name="name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" #passwordInfo="ngModel" [(ngModel)]="loginDetails.password"
            name="password" type="password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>User type</mat-label>
          <mat-select #typeInfo="ngModel" [(ngModel)]="loginDetails.type" name="type">
            <mat-option value="Administrator">Administrator</mat-option>
            <mat-option value="consumer">Consumer</mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="login()">Log in</button>
    </form>

  </mat-card>

</div>
