table {
  width: 100%;
  text-align: center !important;
  margin: 0 auto !important;
  background-color: floralwhite !important;
  border-radius: 8px;
  overflow: hidden !important;
}

.mat-column-updateItem {
  width: 5rem;
}

.mat-column-select {
  width: 5rem;
}

.strikethrough {
  text-decoration: line-through;
}

