$custom-primary: (
    50 : #e4e7eb,
    100 : #bdc2ce,
    200 : #919aae,
    300 : #64728d,
    400 : #435374,
    500 : #22355c,
    600 : #1e3054,
    700 : #19284a,
    800 : #142241,
    900 : #0c1630,
    A100 : #6c8fff,
    A200 : #3969ff,
    A400 : #0642ff,
    A700 : #0039eb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$custom-accent: (
    50 : #fdeaed,
    100 : #fbcbd1,
    200 : #f9a8b2,
    300 : #f68593,
    400 : #f46a7c,
    500 : #f25065,
    600 : #f0495d,
    700 : #ee4053,
    800 : #ec3749,
    900 : #e82737,
    A100 : #ffffff,
    A200 : #fff1f2,
    A400 : #ffbec3,
    A700 : #ffa5ac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);






