$custom-primary: (50 : #e1ece7,
  100 : #b4d0c4,
  200 : #83b19d,
  300 : #519176,
  400 : #2b7a58,
  500 : #06623b,
  600 : #055a35,
  700 : #04502d,
  800 : #034626,
  900 : #023419,
  A100 : #6cffa0,
  A200 : #39ff7f,
  A400 : #06ff5d,
  A700 : #00eb53,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$custom-accent: (50 : #fde6e7,
  100 : #fbc0c4,
  200 : #f8969d,
  300 : #f56c75,
  400 : #f24d58,
  500 : #f02d3a,
  600 : #ee2834,
  700 : #ec222c,
  800 : #e91c25,
  900 : #e51118,
  A100 : #ffffff,
  A200 : #ffdfe0,
  A400 : #ffacae,
  A700 : #ff9295,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
