.example-container {
  height: calc(100% - 64px);
  background-color: gainsboro !important;
}

.example-sidenav {
  background-color: whitesmoke !important;
}

.wrapper {
  margin-top: 20px;
}

p {
  line-height: 1.6;
}

table {

  width: 100%;
  border-spacing: 0 8px !important;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;

}

.mat-table {
  background-color: floralwhite !important;
  border-radius: 8px;
  overflow: hidden !important;
}

mat-header-cell {
  display:flex;
  justify-content:flex-end;
 }