.wrapper {
  margin-top: 20px;
  width: 60%;
  margin-left: 100px;
}

table {
  margin-top: 30px;
  width: 40%;
  border-spacing: 0 8px !important;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;

}

.mat-table {
  background-color: floralwhite !important;
  border-radius: 8px;
  overflow: hidden !important;
}

td.mat-cell,
th.mat-header-cell {
  text-align: center;
  justify-content: center;
}

.example-sidenav-container {
  height: calc(100% - 64px);
  background-color: gainsboro !important;
  text-align: center;
}

.example-sidenav {
  background-color: whitesmoke !important;
}

table button {
  margin: 10px 5px;
}

div.example-sidenav-content p {
  margin: 0;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
